[Desktop Entry]
Categories=
Comment=
Comment[en]=
Encoding=UTF-8
Exec="/usr/bin/firefox https://calendar.google.com"
GenericName=
GenericName[en]=
Icon=/home/guttersnipe/.local/share/applications/custom/icons/calendar.png
MimeType=
Name=Google Calendar
#Name[en]=
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=true
TerminalOptions=
Type=Application
URL=
