[Desktop Entry]
Categories=
Comment=
Comment[en]=
Encoding=UTF-8
Exec="/usr/bin/leafpad /home/michael/.local/share/applications/custom/helper/fail.txt"
GenericName=
GenericName[en]=
Icon=/home/michael/.local/share/applications/custom/icons/fail.png
MimeType=
Name=Keyboard Fail
#Name[en]=
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=true
TerminalOptions=
Type=Application
URL=
